@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Oxygen&family=Roboto&display=swap");

/* fontes do Google: 'Caveat' , 'Oxygen' , 'Roboto' */

* {
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  --corFundoBody: rgb(146, 163, 185);
  --corPrincipal: black;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--corFundoBody);
  color: var(--corPrincipal);
}

a {
  text-decoration: none;
  color: var(principal);
}

h1 {
  text-align: center;
  margin-left: 25px;
  font-size: 5rem;
  color: var(--corPrincipal);
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#formulario {
  width: 50%;
}

.card {
  width: 28%;
  height: 600px;
  margin: 25px;
  box-shadow: 0 0 25px black;
  background-color: rgb(219, 216, 216);
}

.card-imagem {
  width: 95%;
  height: 50%;
  align-self: center;
}
.card-nome {
  text-align: center;
  padding-top: 10px;
}

.card-descricao {
  font-size: 1.6rem;
  text-align: justify;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-cor-sabre {
  font-size: 1.6rem;
  padding-left: 20px;
  padding-top: 10px;
}

.card-afiliacao {
  font-size: 1.6rem;
  padding: 20px;
}

footer {
  width: 100%;
  background-color: var(--cor-fundo-header-footer);
  color: var(--cor-principal);
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.criadores {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aluno {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aluno1 {
  align-items: flex-start;
}

#aluno2 {
  text-align: center;
}

#aluno3 {
  align-items: flex-end;
  text-align: right;
}

.aluno h5 {
  font-size: 2.4rem;
  color: var(--cor-principal);
  margin-bottom: 16px;
}

.aluno p {
  font-size: 1.4rem;
  color: var(--texto-semi-transparente);
  margin-bottom: 12px;
  min-height: 50px;
}

.redes {
  display: flex;
  gap: 16px;
}

i {
  font-size: 2.4rem;
  color: var(--texto-semi-transparente);
}

footer h4 {
  font-size: 2.4rem;
  color: var(--texto-semi-transparente);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

/* Para telas de tamanhos menores, responsividade */

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
}

@media (max-width: 428px) {
}
